@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Homework2.Models.ListData>
<div method="post" asp-controller="Order" asp-action="Index">
    <div class="text-center">
        <h1 class="display-2 mb-4 p-3 mb-2 bg-info text-white">Welcome:@ViewBag.name</h1>
        <div>
            @if (Model != null)
            {
                <table cellspacing="5" border="1" width="10%" style="border-collapse:collapse;">
                    <tr>
                        <td>Game</td>
                        <td>Price</td>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.game</td>
                            <td>@item.price</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/far-cry-5-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Far Cry 5</h5>
            <p class="card-text">1500 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/grand-theft-auto-v-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gta V</h5>
            <p class="card-text">1200 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/watch-dogs-2-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Watch Dogs 2</h5>
            <p class="card-text">1650 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>

</div>
<div class="card-group ">
    <div class="card mr-3 mb-5">
        <img src="https://cdn.game.tv/game-tv-content/images_3/07e71c74484a1cedd92dbc35fa0c0304/GameTile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Valorant</h5>
            <p class="card-text">300 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/monster-hunter-world-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monter Hunter World</h5>
            <p class="card-text">600 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/tom-clancys-ghost-recon-wildlands-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tom Clancys</h5>
            <p class="card-text">1050 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>

</div>
<div class="card-group">
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/tom-clancys-the-division-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Division</h5>
            <p class="card-text">520 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/doom-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Doom</h5>
            <p class="card-text">630 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/battlefield-1-premium-pass-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bettlefield 1</h5>
            <p class="card-text">1600 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>

</div>
<div class="card-group">
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/just-cause-4-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Just Cause 4</h5>
            <p class="card-text">300 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://media.playstation.com/is/image/SCEA/fall-guys-ultimate-knockout-boxart-01-ps4-23jun20-en-hk?$native_nt$" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Fall Guys</h5>
            <p class="card-text">289 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://www.gamesrig.com/img/index/overwatch-legendary-edition-cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Over Wacth</h5>
            <p class="card-text">980 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>

</div>
<div class="card-group">
    <div class="card mr-3 mb-5">
        <img src="https://th-test-11.slatic.net/p/474b0fd02c735df50b5fbec4dd30cbf0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Devil Maycry5</h5>
            <p class="card-text">1250 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71cTCvSFJTL._SY500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Playerunknown's Battlegrounds</h5>
            <p class="card-text">520 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>
    <div class="card mr-3 mb-5">
        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8e/%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg/266px-%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dota 2</h5>
            <p class="card-text">200 ฿</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
        </div>
    </div>

</div>
